Options +FollowSymLinks -Indexes

# Disable GZIP for downloads.
<IfModule mod_env.c>
	SetEnv no-gzip 1
</IfModule>

# All the requests must go through this file.
<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /
	RewriteRule ^index\.php$ - [L]
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]
</IfModule>
